@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

body {
  @apply text-white;
  background: radial-gradient(circle, #1e293b, #0f172a, #020617);
  font-family: "Orbitron", sans-serif;
}

@layer utilities {
  /* Appear animation */
  @keyframes appear-spin {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-appear-spin {
    animation: appear-spin 1.5s ease-out forwards;
  }

  /* Text outlines */
  .text-outline-white {
    text-shadow:
      -0.5px -0.5px 0 #fff,
      0.5px -0.5px 0 #fff,
      -0.5px 0.5px 0 #fff,
      0.5px 0.5px 0 #fff;
  }

  .text-outline-black {
    text-shadow:
      -0.5px -0.5px 0 #000,
      0.5px -0.5px 0 #000,
      -0.5px 0.5px 0 #000,
      0.5px 0.5px 0 #000;
  }

  /* Smooth transition */
  .smooth {
    transition: all 0.4s ease;
  }
}
